.idea/
*.DS_Store
*.iml
work*
!.github/workflows/
!.github/workflows/*.yml
lib*
target*
.m2
docker/jenkins/
docker/squid/
.mvn-debug.log
.m2-local
# maven-release-plugin
release.properties
pom.xml.releaseBackup
